<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - SCM</title>
</head>

<body>
    <h1>This is about page</h1>
    <hr>

    <!-- Using fragment -->
    <div class="host-tag" th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: test}">
        <section>
            <h1>User is logged in</h1>
            <h2>Dynamic content</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo qui alias totam quod ratione fugit
                repudiandae excepturi nam officia repellendus.</p>
            <button>Click on Dynamic Content</button>
        </section>
    </div>
</body>

</html>